<html>
    <head>
        <link rel="stylesheet" href="../style.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../repo-widget.js"></script>
    </head>

    <body>
        <div class="repo-widget github normal">
            <div class="header">
                <a href="https://github.com/allejo/bzion">bzion</a>
                <img src="https://travis-ci.org/allejo/bzion.png?branch=master">
            </div>
            <div class="information">
                <div class="links">
                    <div class="active" rel="https://github.com/allejo/bzion.git">HTTP</div>
                    <div rel="git://github.com/allejo/bzion.git">GIT</div>
                    <div rel="git@github.com:allejo/bzion.git">SSH</div>
                    <input value="https://github.com/allejo/bzion.git" readonly="" onclick="this.select()">
                </div>
                <div class="description">
                    <p>The new league website for BZFlag</p>
                </div>
            </div>
            <ul class="commits">
                <li>
                    <div class="info">
                        <p class="commit">latest commit <a href="">36b422705e</a></p>
                        <p class="timestamp">Sun Sep 29 12:37:56 2013</p>
                        <div style="clear:both"></div>
                    </div>
                    <p class="message">Add more input validity checks on ajax/sendMessage.php by <em>kongr45gpen</em></p>
                </li>
            </ul>
        </div>
    </body>
</html>