<html>
    <head>
        <link rel="stylesheet" href="/Volumes/External%20HD/Users/allejo/Development/WordPress/repo-widget/trunk/style.css" />
    </head>
    
    <body>
        <div class="repo-widget github">
            <div class="header">
                <a href="http://github.com/allejo/leagueOverSeer">leagueOverSeer</a>
                <img src="https://travis-ci.org/allejo/bzion.png?branch=master">
            </div>
            
            <div class="information">
                <div class="links">
                    <div class="active" rel="https://github.com/allejo/leagueOverSeer.git">HTTP</div>
                    <div rel="git@github.com:allejo/leagueOverSeer.git">SSH</div>
                    <input value="https://github.com/allejo/leagueOverSeer.git" readonly onclick="this.select()">
                </div>
                
                <div class="description">
                    <p>A BZFlag plug-in used by leagues in order to automatically relay information from BZFlag servers to the league site, such as team names and automatic match reports.</p>
                </div>
            </div>
            
            <ul class="commits">
                <li>
                    <div class="info">
                        <p class="commit">latest commit <a href="">11bd432c47</a></p>
                        <p class="timestamp">Thu Apr 25 2:05:17 13</p>
                        <div style="clear:both"></div>
                    </div>
                    <p class="message">Added absolute value to ELO calculations by <a href="#">allejo</a></p>
                </li>
            </ul>
        </div>
    </body>
</html>